body {
  font-family: 'Architects Daughter', sans-serif;
}

/*header*/
.portada{
  background-image: url("../img/computer-1209641_1920.jpg");
  background-size: cover;
}

section#home{
  height: 100vh;
  width: 100%;
}

.texto{
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,.6);
    padding: 2% 8%;
    top: 29%;
    left: 12.5%;
    width: 75%;
    text-align: center;
}

.texto h2{
    -webkit-animation: flipInX 3s;
    font-family: 'Dancing Script', cursive;
    font-size: 6.3em;
    margin: 4.5% 0;
}

.texto h3{
    font-family: 'Muli', sans-serif;
    -webkit-animation: slideInUp 3s;
}
/*datos*/

#proyectos .portafolio .row{
    margin-right: 0px; 
    margin-left: 0px; 
}
.btn{
    background: #FEF009;
    color: white;
    font-family: raleway;
    font-size: 1.5em;
    display: block;
    margin: 2% auto;
    width: 60%;
}

.foto{
  width: 65%;
  height: 360px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 55px 13px rgba(33,30,30,0.8);
}

.mg{
  margin-top: 5%;
}

.subtitulo{
  font-weight: 800;
    color: #F73859;
    font-family:'Raleway', cursive;
    text-align: center;
    font-size: 2.5em;
}

.subtitulo i{
    font-size: 1.5em;
    margin-left: 32px;
}

.display{
  display: inline-block;
  color: #384259;
  font-size: 1.4em;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.pregunta{
  color: #F73859;
}

section#datos{
  height: auto;
  padding: 5% 0;
  box-shadow: 0px 9px 5px 0px rgba(189,183,189,1);
}

/*habilidades*/
section#habilidades{
  padding: 5% 0;
  height: auto;
  box-shadow: 0px 9px 5px 0px rgba(189,183,189,1);
}

.skills h3 i{
    font-size: 1.5em;

}
.skills{
    padding-left: 6%;
}
.contenedor-barra{
    height: 30px;
    width: 100%;
    border-radius: 10px;
    background-color: #C4EDDE;
}
.barrastyle{
    border-radius: 10px 0px 0px 10px;
    height: 30px;
}

.barrastyle::-webkit-progress-bar{
    border-radius: 10px 0px 0px 10px;
    background-color: transparent;
}

.barrastyle::-webkit-progress-value{
    background-color: #384259;
    border-radius: 10px 0px 0px 10px;
}

.uno{
    width: 85%;
}

.dos{
    width: 85%;
}

.tres{
    width: 85%;
}
/*Portafolio*/
section#proyectos{
  box-shadow: 0px 9px 5px 0px rgba(189,183,189,1);
  height: auto;
  padding: 5% 0;
}

.portafolio{
    padding: 1% 0 0 2%;
}

.snip1446 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  height: 198px;
  max-width: 315px;
  max-height: 230px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
}
.snip1446 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1446 img {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.snip1446:after,
.snip1446:before,
.snip1446 figcaption:after,
.snip1446 figcaption:before {
  background: #0a0a0a;
  width: 25%;
  position: absolute;
  content: '';
  opacity: 0;
  -webkit-transition: all 0.3s steps(4);
  transition: all 0.3s steps(4);
  z-index: 1;
  top: 100%;
  bottom: 0;
}
.snip1446:before {
  left: 0;
  -webkit-transition-delay: 0;
  transition-delay: 0;
}
.snip1446:after {
  left: 25%;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.snip1446 figcaption:before {
  left: 50%;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: -1;
}
.snip1446 figcaption:after {
  left: 75%;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  z-index: -1;
}
.snip1446 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 30px;
}
.snip1446 h2,
.snip1446 p,
.snip1446 .icons {
  margin: 0;
  width: 100%;
  opacity: 0;
}
.snip1446 h2, .contenedor-portafolio .info h2 {
  text-transform: uppercase;
  font-family: 'Raleway'
}
.snip1446 p, .contenedor-portafolio .info p {
  font-weight: 300;
}
.snip1446 .icons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}
.snip1446 i {
    padding: 0px 5px;
    display: inline-block;
    color: #ffffff;
}
.snip1446 i:hover {
  opacity: 1;
}
.snip1446:hover:after,
.snip1446.hover:after,
.snip1446:hover:before,
.snip1446.hover:before,
.snip1446:hover figcaption:after,
.snip1446.hover figcaption:after,
.snip1446:hover figcaption:before,
.snip1446.hover figcaption:before {
  top: 0;
  opacity: 0.8;
}
.snip1446:hover figcaption h2,
.snip1446.hover figcaption h2,
.snip1446:hover figcaption p,
.snip1446.hover figcaption p,
.snip1446:hover figcaption .icons,
.snip1446.hover figcaption .icons {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.snip1446:hover figcaption h2,
.snip1446.hover figcaption h2,
.snip1446:hover figcaption .icons,
.snip1446.hover figcaption .icons {
  opacity: 1;
}
.snip1446:hover figcaption p,
.snip1446.hover figcaption p {
  opacity: 0.7;
}

.snip1446 figcaption a, .contenedor-portafolio .info .icons a {
    padding: 3% 2%;
    background-color: #F73859;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.snip1446 figcaption a:hover{
  text-decoration: none;
  color: white;
}

.contenedor-portafolio{
  text-align: center;
  box-shadow: 0px 9px 5px 0px rgba(189,183,189,1);
  margin: 5% 0;
  height: auto;
  padding: 5%;
}

.contenedor-portafolio img{
  width: 90%;
  margin: 0 auto;
}

/*Contacto*/
section#contacto{  
  height: auto;
  padding: 5% 0;
  background-color: #243040;
}
section#contacto p{
  font-size: 1.8em;
    font-family: raleway;
    text-align: center;
    color: white;
}

section#contacto a:hover{
  text-decoration: none;
  color: white;
}

.redes-sociales{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
}

.redes-sociales a i{
    color: white;
    padding: 2%;
}
/*----*/
@media (max-width: 600px) {
  .portafolio{
    padding: 0;
  }
  .texto{
    top: 20%;
  }

  .texto h2{
    font-size: 4em;
  }

  .subtitulo{
    font-size: 2em;
  }
  section#contacto p{
    font-size: 1.5em;
  }
  section#contacto{
    padding: 15%;
  }
  .btn{
    width: 83%;
  }
  .foto{
    width: 100%;
    height: 261px;
  }
  .display{
    font-size: 1.3em;
  }
}
